/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-font-color: #000028;
  --main-font-color: #F1B2CE;
  --accent-color: #FF0070;
  --detail-color: #DB00FF;
}

@media (prefers-color-scheme: dark) {
  :root {
   --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-font-color: #000028;
  --main-font-color: #F1B2CE;
  --accent-color: #FF0070;
  --detail-color: #DB00FF;
}
}  