:root.theme-light {
  --bg-color: #fff1f7;
  --accent-font-color: #353430;
  --main-font-color: #353430;
  --accent-color: #ff8dcb;
  --detail-color: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__lightbulb {
  display: none;
}

.theme-light .header__theme-menu-button {
  border-color: var(--main-font-color);
  color: var(--main-font-color);
}

.theme-light .section__title {
  color: var(--main-font-color);
}

.theme-light .decorated-zone::after {
  border-color: var(--main-font-color);
}

.theme-light .decorated-zone::before {
  border-color: var(--main-font-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-font-color: #353430;
    --main-font-color: #353430;
    --accent-color: #ff8dcb;
    --detail-color: #ffc2e6;
    --bg-image: url(../images/cover-image-light.png);
  }

  .theme-light .header__lightbulb {
    display: none;
  }

  .theme-light .header__theme-menu-button {
    border-color: var(--main-font-color);
    color: var(--main-font-color);
  }

  .theme-light .section__title {
    color: var(--main-font-color);
  }

  .theme-light .decorated-zone::after {
    border-color: var(--main-font-color);
  }

  .theme-light .decorated-zone::before {
    border-color: var(--main-font-color);
  }
}
