:root.theme-light {
  --bg-color: #fff1f7;
  --accent-font-color: #353430;
  --main-font-color: #353430;
  --accent-color: #ff8dcb;
  --detail-color: #ffc2e6;
  --secton-title-font-color: #353430;
  --hover-color: #32312d66;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__lightbulb {
  display: none;
}

.theme-auto .header__lightbulb {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-font-color: #353430;
    --main-font-color: #353430;
    --accent-color: #ff8dcb;
    --detail-color: #ffc2e6;
    --secton-title-font-color: #353430;
    --hover-color: #32312d66;
    --bg-image: url(../images/cover-image-light.png);
  }

  .theme-light .header__lightbulb {
    display: none;
  }

  .theme-auto .header__lightbulb {
    display: none;
  }
}
