/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --accent-font-color: #353430;
  --main-font-color: #353430;
  --accent-color: #FF8DCB;
  --detail-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
}

.page {
  --bg-image: url(../images/cover-image-light.png);
  background-image: var(--bg-image);
  background-color: var(--accent-font-color);
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #FFF1F7;
  --accent-font-color: #353430;
  --main-font-color: #353430;
  --accent-color: #FF8DCB;
  --detail-color: #FFC2E6;
  }

  .page {
  --bg-image: url(../images/cover-image-light.png);
  background-image: var(--bg-image);
  background-color: var(--accent-font-color);
  }
}